# Astro Runtime includes the following pre-installed providers packages: https://www.astronomer.io/docs/astro/runtime-image-architecture#provider-packages

apache-airflow-providers-snowflake>=6.12.1,<7
astronomer-cosmos>=1.10,<2
anthropic>=0.69
apache-airflow-providers-smtp
